@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Auth/Shared/_AuthLayout.cshtml";
}


    <div style="margin: 50px">
        <form class="px-4 py-3" method="post">
            <div class="form-group">
                <input name="Username" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
            </div>
            <div class="form-group">
                <input name="Password" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <input name="ConfirmPassword" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Confirm Password">
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                    Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Auth" asp-action="Login"><small>Already have account? Sign in</small></a>
        <a class="dropdown-item" href="#"><small>Forgot password?</small></a>
    </div>

